.header {
  background-color: #fafafa;
  width: 375px;
  height: 44px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}

.logo {
  width: auto;
  height: 55px;
  /* margin-left: 117px; */
}

.notification {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 35px;
  background-color: #fafafa;
  /* margin-left: 52px; */
  /* margin-top: 13px; */
}
