.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  /* top: 50%; */
  display: flex;
  align-items: center;
}
.buttonAreaL {
  width: 50px;
  height: 100%;
  /* background-color: rgba(50, 50, 50, 0.2); */
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}
.buttonAreaR {
  width: 50px;
  height: 100%;

  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.buttonL {
  position: absolute;
  left: 0;
  margin: 0;
  height: 50px;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 5px;
}
.buttonAreaL:hover {
  background-color: rgba(250, 250, 250, 0.1);
  height: 100%;
  width: 40px;
  transition: background-color 0.2s ease;
}

.buttonR {
  position: absolute;
  right: 0;
  margin: 0;
  height: 50px;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0px 5px 0px 10px;
}
.buttonAreaR:hover {
  background-color: rgba(250, 250, 250, 0.1);
  height: 100%;
  width: 40px;
  transition: background-color 0.2s ease;
}
