.Header {
  background-color: #fafafa;
  width: 375px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
.back {
  position: absolute;
  left: 0;
}
.name {
  font-weight: bold;
}
.messageContainer {
  height: 645px;
  background-color: lightblue;
}
.messageInput {
  height: 79px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
}
.typeMessage {
  height: 80%;
  width: 100%;
  border: none;
  background-color: #bebebe;
  font-size: 20px;
  border-radius: 50px;
  padding: 20px;
  margin: 0;
}
input::content {
  background-color: white;
}
.addIcon {
  cursor: pointer;
  margin: 0;
}
.addIcon img {
  width: 40px;
  height: 40px;
}
.addPhoto {
  display: none;
}
