.Header {
  background-color: #fafafa;
  width: 375px;
  height: 44px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
.back {
  position: absolute;
  left: 0;
}
.name {
  font-weight: bold;
}
.messageContainer {
  height: 645px;
  padding: 5px;
  background-color: lightblue;
}
.messageInput {
  /* height: 80px; */
  background-color: #fafafa;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  text-align: center;
  justify-content: space-between;
}
.typeMessage {
  height: 60px;
  width: 100%;
  border: none;
  background-color: #bebebe;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px;
  margin: 0;
  display: flex;
}
.textbox {
  background-color: #bebebe;
  /* background-color: white; */
  width: 85%;
  height: 100%;
  font-size: 16px;
  padding-right: 5px;
}
.sendButton {
  background-color: lightblue;
  width: 15%;
  height: 100%;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 5px; */
}
input::content {
  background-color: white;
}
.addIcon {
  cursor: pointer;
  margin: 0;
}
.addIcon img {
  width: 40px;
  height: 40px;
}
.addPhoto {
  display: none;
}
