.filterPage {
  position: absolute;
  top: 50px;
  right: 330px;
  width: 330px;
  /* height: 740px; */
  height: 600px;
  border: 1px solid #6e6e6e;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 2;
}
.container {
  height: 100%;
}

.open {
  transform: translateX(0);
}

.filterHeader {
  display: flex;
  justify-content: left;
  padding: 10px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 700;
  /* background-color: #9aaee057; */
}

.filterHeader img {
  width: 15px;
}

.tag_item {
  border: 1px solid #9aaee057;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  height: auto;
  position: relative;
  /* align-items: center; */
}
.tag_breed {
  border: 1px solid #9aaee057;
  /* display: flex; */
  flex-direction: row;
  justify-content: right;
  /* height: auto; */
  position: relative;
}
.tag_breed label {
  display: flex;
  margin-bottom: 0;
}

.tag_breed button {
  /* border: 1px solid #9aaee057; */
  border-radius: 10px;
  /* display: flex; */
  /* justify-content: right; */
  /* height: auto; */
  margin: 5px;
  padding: 8px;
  background-color: #e1e1e1;
  position: relative;
}
.age {
  /* height: 200px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.age input {
  background-color: #e1e1e1;
  border-radius: 10px;
  width: 60px;
  height: 30px;
}
.tag_item label {
  width: 80px;
  margin: 5px;
  position: absolute;
  left: 0;
  display: flex;
}

.tag_item button {
  width: auto;
  margin: 5px 5px;
  padding: 5px;
  /* height: 30px; */
  border-radius: 20px;
  background-color: #d9d9d9;
  font-size: 14px;
}

.tag_item div {
  margin-bottom: 10px;
}

.filterButton {
  margin: 20px 0;
}

.reset {
  margin: 5px;
  color: #ffffff;
  background-color: #adadad;
}

.apply {
  width: 170px;
  margin: 5px;
  color: #ffffff;
  background-color: #3d3d3d;
}

/* .filterPriceRangeWrap {
  position: relative;
}

.filterPriceRangeMin,
.filterPriceRangeMax {
  pointer-events: none;
}

.filterPriceRangeMin::-webkit-slider-thumb,
.filterPriceRangeMax::-webkit-slider-thumb {
  pointer-events: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #b0b0b0;
  background-color: white;
  -webkit-appearance: none;
}

.filterPriceSlide {
  position: relative;
  height: 4px;
  width: 650px;
  border-radius: 10px;
  background-color: #dddddd;
}

.filterPriceSlideInner {
  position: absolute;
  height: 4px;
  border-radius: 10px;
  background-color: #b0b0b0;
} */
