.filterPage {
  position: absolute;
  top: 50px;
  right: 330px;
  width: 330px;
  height: 600px;
  border: 1px solid #6e6e6e;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 2;
}
.container {
  height: 600px;
}

.filterHeader {
  display: flex;
  justify-content: left;
  padding: 10px;
  padding-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.filterHeader img {
  width: 15px;
}

.tag_item {
  border: 1px solid #9aaee057;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  height: auto;
  position: relative;
}

.tag_breed {
  border: 1px solid #9aaee057;
  flex-direction: row;
  justify-content: right;
  position: relative;
}
.tag_breed label {
  display: flex;
  margin-bottom: 0;
}

.tag_breed button {
  border-radius: 16px;
  margin: 5px;
  padding: 8px;
  background-color: #e1e1e1;
  position: relative;
}
.age {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.age input {
  background-color: #e1e1e1;
  border-radius: 10px;
  width: 60px;
  height: 30px;
}
.tag_item label {
  margin: 8px;
}

.tag_item button {
  width: auto;
  margin: 5px 5px;
  padding: 10px;
  border-radius: 15px;
  background-color: #d9d9d9;
  font-size: 14px;
}

.tag_item div {
  margin-bottom: 10px;
}

.reset {
  margin: 5px;
  color: #ffffff;
  background-color: #adadad;
}

.apply {
  width: 170px;
  margin: 5px;
  color: #ffffff;
  background-color: #3d3d3d;
}
