.filterPage {
  position: absolute; 
  top: 50px;
  right: 330px;
  width: 330px;
  /* height: 740px; */
  height: 590px;
  border: 1px solid #6e6e6e;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  background-color: #FFFFFF;
  border-radius: 10px;
  z-index: 2;
}

.open {
  transform: translateX(0);
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
}

.filterHeader img {
  width: 15px;
}

.inputGroup {
  border-bottom: 1px solid #AFA8A8;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  width: 60px;
  margin: 5px;
}

.inputGroup button {
  margin: 5px 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: #D9D9D9;
}

.inputGroup div {
  margin-bottom: 10px;
}

.filterButton {
  margin: 20px 0;
}

.reset {
  margin: 5px;
  color: #FFFFFF;
  background-color: #ADADAD ;
}

.apply {
  width: 170px;
  margin: 5px;
  color: #FFFFFF;
  background-color: #3D3D3D;
}




/* .filterPriceRangeWrap {
  position: relative;
}

.filterPriceRangeMin,
.filterPriceRangeMax {
  pointer-events: none;
}

.filterPriceRangeMin::-webkit-slider-thumb,
.filterPriceRangeMax::-webkit-slider-thumb {
  pointer-events: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #b0b0b0;
  background-color: white;
  -webkit-appearance: none;
}

.filterPriceSlide {
  position: relative;
  height: 4px;
  width: 650px;
  border-radius: 10px;
  background-color: #dddddd;
}

.filterPriceSlideInner {
  position: absolute;
  height: 4px;
  border-radius: 10px;
  background-color: #b0b0b0;
} */



