.listBox ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.listBox li {
  list-style: none;
  /* width: 330px; */
  height: 120px;
  border: 1px solid #e4e3e3;
  display: flex;
  margin: 0;
  /* text-decoration: none; */
}

.link {
  display: flex;
  align-items: center;
  /* text-decoration: none; */
  color: inherit;
  width: 100%;
  height: 100%;
}

/* .link:hover {
  text-decoration: none;
} */

.imageContainer {
  /* background-color: rgb(80, 77, 82); */
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* z-index: -1; */
}

.imageContainer img {
  width: auto;
  height: 100%;
}
.infoBox {
  flex: 1;
  /* flex:1 이 옆에 다른 컨텐츠가 많아 공간 차지 많이해도 본 컨텐츠가 찌부되는걸 방지해줌 */
  margin-right: 10px;
  width: 100%;
  height: 100px;
  margin-top: 10px;
}
.status {
  background-color: #ffee55;
  padding: 0 15px;
  border-radius: 50px;
  height: 25px;
  position: absolute;
  z-index: 1;
  /* display: flex; */
  /* align-items: center; */
  top: 70px;
  left: 10px;
  font-size: 14px;
}
.name {
  font-weight: bold;
}
.user {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  font-size: 14px;
}

.date {
  color: gray;
}

.title {
  text-align: left;
  font-size: 14px;
  overflow: hidden;
  /* white-space: nowrap; */
  width: 100%;
  height: 3em;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.tags {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.tag {
  height: 25px;
  padding: 0 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(201, 244, 135);
}
.observer {
  height: 15px;
  background-color: #bebebe;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
