#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
  /* background-color: gray; */
}
::-webkit-scrollbar {
  display: none;
}

#mobileView {
  /* max-width: 1280px; */
  border: 1px solid gray;
  height: 768px;
  border-radius: 20px;
  overflow: hidden;
}
