.header {
  background-color: #FAFAFA;
  width: 375px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

.logo {
  width: 141px;
  height: 88px;
  margin-left: 117px;
}

.notification {
  width: 33px;
  height: 35px;
  background-color: #FAFAFA;
  margin-left: 52px;
  margin-top: 13px;
}
