.tag_container {
  display: flex;
}

.tag_container label {
  width: 80px;
}

.tag_box {
  width: 275px;
  height: 400px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tag_item {
  display: flex;
}

/* .tag_item input {
  width: 105px;
} */

.tag_item button {
  border: none;
  border-radius: 15px;
  background-color: #F6F6F6;
  padding: 10px 10px;
  margin-right: 10px;
}

.breedSelected {
  border: none;
  border-radius: 15px;
  background-color: #9aaee057;
  padding: 10px 10px;
  height: 35px;
  width: 100px;
  /* width: auto; */
  margin-top: 10px;
  font-size: 15px;
}

.inputBreed {
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
}

.inputAge {
  width: 40px;
  font-size: 15px;
  border-radius: 5px;
  /* background-color: #9aaee057; */
}

.inputDate {
  height: 40px;
  width: 110px;
  font-size: 15px;
  border-radius: 5px;
}

.date {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
} 

.breedSelected {
  display: none;
}

.breedSelectedVisible {
  display: block;
}

.breedListHidden {
  display: none;
}



