.tag_container {
  display: flex;
}

.tag_container label {
  width: 80px;
}

.tag_box {
  width: 275px;
  height: 400px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tag_item {
  display: flex;
}

.tag_item input {
  width: 105px;
}

.tag_item button {
  border: none;
  border-radius: 15px;
  background-color: #F6F6F6;
  padding: 10px 10px;
  margin-right: 10px;
}

.date {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
} 


