.container {
  /* background-color: gainsboro; */
  width: 100%;
  height: 655px;
  padding: 40px;
}
.logo {
  /* object-fit: cover; */
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
}
.loginInput {
  display: flex;
  flex-direction: column;
}

.loginButton {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #50586c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 19px;
  margin-top: 20px;
  cursor: pointer;
}

.googleLogin {
  width: 100%;
  height: 100%;
  background-color: #50586c;
  color: white;
  font-size: 19px;
  margin-top: 10px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  gap: 5px;
}

.googleLogo {
  /* margin-right: 5px; */
  width: 30px;
  height: 30px;
  /* z-index: 100; */
  /* position: absolute; */
}
.orLines {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input {
  height: 40px;
  border: none;
  border-bottom: 2px solid #d9d9d9;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
}
.line {
  width: 100%;
  height: 1.5px;
  background-color: gray;
}

.text {
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  color: gray;
  margin-top: 10px;
}

@media (width >= 1000px) {
  .container {
    /* background-color: gainsboro; */
    width: 100%;
    height: 775px;
    padding: 40px;
    padding: 0 50px;
    /* display: flex; */
    /* align-items: center; */
  }
  .loginInput {
    width: 100%;
    height: 100%;
  }
  .loginButton {
    height: 100px;
    width: 50%;
    margin-left: 20px;
    margin-top: 0;
    font-size: 20px;
    /* font-weight: bold; */
  }
  .logo {
    margin: 0 auto;
    width: 350px;
    height: auto;
  }
  .login {
    display: flex;
    align-items: center;
  }
  .logoFrame {
    /* display: inline-block; */
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .loginMethod {
    /* display: inline-block; */
    margin: 0 auto;
    padding: 0;
  }
  .loginAndRegister {
    margin-top: 20px;
  }
}
